{namespace coleslaw.theme.bootstrap}

{template post}
<article itemscope="" itemtype="http://schema.org/BlogPosting" class="row-fluid">{\n}
  <header>
    <h1 class="page-header" itemprop="headline">{$post.title}</h1>{\n}
    <p>
      {if $post.tags}
      Tagged as <span itemprop="keywords">{foreach $tag in $post.tags}
      <a href="{$config.domain}/{$tag.url}">{$tag.name}</a>{nil}
      {if not isLast($tag)},{sp}{/if}
      {/foreach}</span>
      {/if}
    </p>
    <p class="date-posted">
      {if $post.date}
      Written on <time itemprop="datePublished" datetime="{$post.date}">{$post.date}</time>
      {/if}
    </p>
  </header>

  {$post.text |noAutoescape}
</article>

<footer>
  <ul   class="pager">
    {if $prev}<li class="previous"><a href="{$config.domain}/{$prev.url}">← Previous</a></li>{/if}{\n}
    {if $next}<li class="next"><a href="{$config.domain}/{$next.url}">Next →</a></li>{/if}{\n}
  </ul>
</footer>
{\n}
{/template}
